consumes:
  - application/json
definitions: {}
info:
  description: API Documentation for ottoAPI v1
  termsOfService: [Terms of Service](https://www.otto-js.com/terms)
  title: otto API
  version: '2.0'
  license: 
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /api/v2/accounts/{account_id}/sites:
    get:
      security: 
        - { Bearer: [
            ]
          }
      description: Get a list of all sites in the account
      operationId: DevconServicesApiWeb.SiteController.index
      parameters:
        - in: path
          name: account_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Success
        '403':
          description: Not Authorized
        '404':
          description: Not Found
      summary: 'Get a list of site_ids that can be used in later API requests to query data specific to that site.'
      tags:
        - Site
  /api/v2/accounts/{account_id}/sites/{site_id}:
    get:
      security: 
        - { Bearer: [
            ]
          }
      description: Get details for a specific site
      operationId: DevconServicesApiWeb.SiteController.show
      parameters:         
        - in: path
          name: account_id
          required: true
          type: string
        - in: path
          name: site_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Success
        '403':
          description: Not Authorized
        '404':
          description: Not Found
      summary: 'Get info related to a specific site_id.'
      tags:
        - Site
  /api/v2/accounts/{account_id}/sites/{site_id}/files:
    get:
      security: 
        - { Bearer: [
            ]
          }
      description: Get a list of all javascipt files with vulnerabilties
      operationId: DevconServicesApiWeb.FileController.index
      parameters:
        - in: path
          name: account_id
          required: true
          type: string
        - in: path
          name: site_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Success
        '403':
          description: Not Authorized
        '404':
          description: Not Found
      summary: 'Get a list of all javascript vulnerabilties'
      tags:
        - File
  /api/v2/accounts/{account_id}/sites/{site_id}/files/{file_id}:
    get:
      security: 
        - { Bearer: [
            ]
          }
      description: Get a File's vulnerability details
      operationId: DevconServicesApiWeb.FileController.show
      parameters: 
        - in: path
          name: account_id
          required: true
          type: string
        - in: path
          name: site_id
          required: true
          type: string
        - in: path
          name: file_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Success
        '403':
          description: Not Authorized
        '404':
          description: Not Found
      summary: "Gel a File's vulnerability details."
      tags:
        - File
  /api/v2/accounts/{account_id}/sites/{site_id}/incidents:
    get:
      security: 
        - { Bearer: [
            ]
          }
      description: Get a list of action required incidents
      operationId: DevconServicesApiWeb.IncidentController.index
      parameters: 
        - in: path
          name: account_id
          required: true
          type: string
        - in: path
          name: site_id
          required: true
          type: string
        - in: query
          name: mode
          required: true
          type: string
          default: review
      produces:
        - application/json
      responses:
        '200':
          description: Success
        '403':
          description: Not Authorized
        '404':
          description: Not Found
      summary: 'Get a list of action required incidents'
      tags:
        - Incident
  /api/v2/accounts/{account_id}/sites/{site_id}/incidents/{incident_id}:
    get:
      security: 
        - { Bearer: [
            ]
          }
      description: Get an incident's details
      operationId: DevconServicesApiWeb.IncidentController.show
      parameters: 
        - in: path
          name: account_id
          required: true
          type: string
        - in: path
          name: site_id
          required: true
          type: string
        - in: path
          name: incident_id
          required: true
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Not Authorized
        '404':
          description: Not Found
      summary: "Get an incident's details"
      tags:
        - Incident
  /api/v2/accounts/{account_id}/sites/{site_id}/behaviors/need_review:
    get:
      security: 
        - { Bearer: [
            ]
          }
      description: Get a Listing of any scripts under site {site_id} whose behavior has changed and could potentially be a security threat.
      operationId: DevconServicesApiWeb.BehaviorController.need_review
      parameters: 
        - in: path
          name: account_id
          required: true
          type: string
        - in: path
          name: site_id
          required: true
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Not Authorized
        '404':
          description: Not Found
      summary: "Get a listing of behaviors of a site that need review"
      tags:
        - Behavior
  /api/v2/accounts/{account_id}/sites/{site_id}/behaviors/mark_as_reviewed/{behavior_id}:
    put:
      security: 
        - { Bearer: [
            ]
          }
      description: Mark a behavior that needed to be reviewed as having been reviewed.
      operationId: DevconServicesApiWeb.BehaviorController.mark_as_reviewed
      parameters: 
        - in: path
          name: account_id
          required: true
          type: string
        - in: path
          name: site_id
          required: true
          type: string
        - in: path
          name: behavior_id
          required: true
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Not Authorized
        '404':
          description: Not Found
      summary: "Mark a behavior that needed review as having been reviewed"
      tags:
        - Behavior
  /api/v2/accounts/{account_id}/sites/{site_id}/behaviors/{behavior_id}:
    get:
      security: 
        - { Bearer: [
            ]
          }
      description: Get details on a certain behavior belonging to a site {site_id}
      operationId: DevconServicesApiWeb.BehaviorController.show
      parameters: 
        - in: path
          name: account_id
          required: true
          type: string
        - in: path
          name: site_id
          required: true
          type: string
        - in: path
          name: behavior_id
          required: true
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Not Authorized
        '404':
          description: Not Found
      summary: "Get details on a certain behavior recorded on a site."
      tags:
        - Behavior
produces:
  - application/json
host: api.devconops.com
schemes:
  - https
securityDefinitions:
  Bearer:
    description: 'API Token must be provided via `Authorization: Bearer ` header'
    in: header
    name: Authorization
    type: apiKey
swagger: '2.0'
